---
pagination:
  data: generated.classes.single
  size: 1
  alias: paginated
layout: default
permalink: /{{ paginated.package.slug }}/classes/{{ paginated.class.name.slug }}/{{ paginated.type.plural }}/{{ paginated.name.slug }}/index.html
---
<h1>{{ paginated.name.original }}</h1>

{% assign item = generated[paginated.package.original].classes.map[paginated.class.name.original][paginated.type.plural].map[paginated.name.original]
%}

{% render 'callable.liquid', item: item, page: page, paginated: paginated %}
