{% for signature in item.declaration.signatures %}
  <article class="stack">
    <h2 class="oui-vh">{{ item.name.original }}, #{{ forloop.index }}</h2>

		<section>{{ signature.comment.summary | markdown }}</section>

		<section class="stack">
      <h3>Parameters</h3>

			<ul class="stack stack--small">
        {% for parameter in signature.parameters %}
          <li class="flow">
            <code>{{ parameter.name }}</code>
            <code>{{ parameter | type }}</code>
            <span>{{ parameter.comment.summary | markdown }}</span>
          </li>
        {% endfor %}
      </ul>
    </section>

		<section class="stack">
      <h3>Returns</h3>

			<div class="flow">
				<code>{{ signature.type.name }}</code>
				{{ signature | returns }}
			</div>
    </section>

		<section>{{ signature.code.items | last | code }}</section>

		<p><a href="https://github.com/oscarpalmer/{{ pkg }}/tree/main/src/{{ signature.sources[0].fileName }}#L{{ signature.sources[0].line }}">Source</a></p>
  </article>
{% endfor %}
