<header class="stack stack-small header" role="banner">
	{% if pkg.url == page.url %}
		{% assign ariaCurrent = ' aria-current="page"' %}
	{% else %}
		{% assign ariaCurrent = '' %}
	{% endif %}
	<p><a href="/"{{ ariaCurrent }}>{{ meta.title }}</a></p>
	<p>{{ meta.description }}</p>
	<nav class="stack stack--small" role="navigation">
		<div class="flow flow--small flex-ai--fe flex-jc--sb">
			<ul class="flow flow--small header__navigation--main">
				{% for pkg in generated.packages.all %}
					{% if pkg.url == page.url %}
						{% assign ariaCurrent = ' aria-current="page"' %}
					{% else %}
						{% assign ariaCurrent = '' %}
					{% endif %}
					<li><a href="{{ pkg.url }}"{{ ariaCurrent }}>{{ pkg.name.original }}</a></li>
				{% endfor %}
			</ul>
			<oui-popover>
				<button oui-popover-toggle class="oui-button oui-button--tiny" type="button">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						aria-hidden="true"
					>
						<path stroke="none" d="M0 0h24v24H0z" fill="none" />
						<path d="M3 10a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
						<path d="M21 21l-6 -6" />
					</svg>
					<span>Search</span>
				</button>
				<div oui-popover-content class="search" id="search">
					<noscript class="stack">
						<p>Apologies, but the search functionality requires <i>JavaScript</i> to be enabled.</p>
						<p>Here are the <a href="https://enable-javascript.com/" target="_blank">instructions on how to enable <i>JavaScript</i> in your web browser</a>.</p>
					</noscript>
				</div>
			</oui-popover>
		</div>
		<ol class="flow flow-small header__navigation--breadcrumbs">
			{% for crumb in breadcrumbs %}
				{% if forloop.last %}
					{% assign ariaCurrent = ' aria-current="page"' %}
				{% else %}
					{% assign ariaCurrent = '' %}
				{% endif %}
				<li>
					<span aria-hidden="true">/&nbsp;</span><a href="{{ crumb.url }}" {{ ariaCurrent }}>{{ crumb.label }}</a>
				</li>
			{% endfor %}
		</ol>
	</nav>
</header>
